<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="standard">
        <route id="mage2tv_widget" frontName="mage2tv_widget">
            <module name="Mage2tv_Widget" />
        </route>
    </router>
</config>
